{% load static %}
{% block content %}

<footer class="white">
  <div id="pageLinks" class="row-container-even-space">
    <div class="padding-top-bottom-30">
      <div class="upper white bold padding-top-bottom-10">Meru</div>
      <ul>
        <li><a class="white" href="https://www.meru.in/about-us/our-philosophy">Our Journey</a></li>
        <li><a class="white" href="https://www.meru.in/about-us/meru-advantage">Rides With Benefits</a></li>
        <li><a class="white" href="https://www.meru.in/about-us/leadership-team">Team Meru</a></li>
        <li><a class="white" href="https://www.meru.in/about-us/our-investors">Our Investors</a></li>
        <li><a class="white" href="https://www.meru.in/media-centre">Press Room</a></li>
        <li><a class="white" href="https://www.meru.in/careers">Careers</a></li>
      </ul>
    </div>
    <div class="padding-top-bottom-30">
      <div class="upper white bold padding-top-bottom-10">Services</div>
      <ul>
        <li><a class="white" href="https://www.meru.in/">Ride Local</a></li>
        <li><a class="white" href="https://www.meru.in/outstation">Ride Outstation</a></li>
        <li><a class="white" href="https://www.meru.in/offers">Offers</a></li>
        <li><a class="white" href="https://www.meru.in/corporate">Meru For Business</a></li>
      </ul>
    </div>
    <div class="padding-top-bottom-30">
      <div class="upper white bold padding-top-bottom-10">Support</div>
      <ul>
        <li><a class="white" href="https://www.meru.in/customer-support/faqs">Ultimate Guide</a></li>
        <li><a class="white" href="https://www.meru.in/login">Lost & Found</a></li>
        <li><a class="white" href="https://www.meru.in/login">Comments & Feedback</a></li>
        <li><a class="white" href="https://www.meru.in/customer-support/contact-us">Contact Us</a></li>
        <li><a class="white" href="https://www.meru.in/customer-support/terms-conditions">Terms & Conditions</a></li>
        <li><a class="white" href="mailto:mediaquery@meru.in">PR/Media Query</a></li>
      </ul>
    </div>
    <div class="padding-top-bottom-30">
      <div class="upper white bold padding-top-bottom-10">Partner</div>
      <ul>
        <li><a class="white" href="https://www.meru.in/drive-with-us">Drive With Us</a></li>
        <li><a class="white" href="https://www.meru.in/franchise">Become a Franchise</a></li>
      </ul>
    </div>
  </div>

  <div id="socialMedia">
    <a href="https://www.facebook.com/MeruCabs" class="white"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/MeruCabs" class="white"><i class="fab fa-twitter"></i></a>
    <a href="https://in.linkedin.com/company/meru-mobility-tech-pvt-ltd" class="white">
        <i class="fab fa-linkedin"></i></a>

  </div>
  <div id="copyright"> &copy; 2019 MERU. All rights Reserved</div>
  </div>
</footer>

{% endblock %}
